html
  head
	title = 'Mastek Rocks'
	link(rel='stylesheet',href='http://netdna.bootstrapcdn.com/bootstrap')
	body
		div.container
			div.jumbotron
			     h1 Hello Mastekeers!!!
				 p Click the button below to head over to my podcast...
				p
				a.btn.btn-primary(href="http://intechwetrustpodcast.com") Podcast
				p
